:root {
  --chatty-bg0: rgb(27, 20, 23);
  --chatty-bg1: rgb(46, 38, 40);
  --chatty-bg2: rgb(61, 42, 49);
  --chatty-bg3: rgb(85, 53, 65);
  --chatty-bg4: rgb(117, 59, 78);
  --chatty-icons: rgb(241, 181, 201);
  --chatty-disabled: rgb(34, 26, 29);
  --chatty-accent: rgb(240, 28, 99);
  --chatty-corners: 16px;
  --chatty-hyperlink: var(--chatty-accent);
}
.menu-2TXYjN {
  background: var(--chatty-bg1) !important;
  padding: 0px;
  border-radius: var(--chatty-corners);
  .scroller-nxCRu_ {
    padding: 2px !important;
  }
  .scroller-nxCRu_::-webkit-scrollbar {
    display: none !important;
  }
  .wrapper--nA0oy {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .customItem-1KYL7t {
      .button-1zW0-r {
        background: var(--chatty-bg1);
        margin: 4px;
        width: 30px;
        height: 30px;
        .icon-Yl4xbA {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
  [role="group"] {
    .submenu-3ycVEH {
      padding: 0px;
    }
    padding: 5px 8px !important;
    border-radius: calc(var(--chatty-corners) / 1.5);
    margin: 8px;
    background: var(--chatty-bg2);
    .labelContainer-35-WEd {
      background: var(--chatty-bg3) !important;
      border-radius: calc(var(--chatty-corners) / 3);
      margin-top: 4px;
    }
  }
}
.scrollerBase-1Pkza4::-webkit-scrollbar-track {
  background: none !important;
  border-radius: calc(var(--chatty-corners) / 2);
}
.scrollerBase-1Pkza4::-webkit-scrollbar-thumb {
  background: var(--chatty-icons) !important;
  border-radius: calc(var(--chatty-corners) / 2);
}
.layers-1YQhyW {
  margin: 24px !important;
  border-radius: var(--chatty-corners);
  background: var(--chatty-bg1);
}
.bg-1QIAus {
  background: var(--chatty-bg0) !important;
}
.tree-3agP2X {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  background: var(--chatty-bg1);
  .scroller-3X7KbA {
    padding-bottom: 100vh;
    background: none;
    .pill-2RsI5Q {
      overflow: visible;
      width: 100px;
      .item-2LIpTv {
        border-radius: var(--chatty-corners) !important;
        background: var(--chatty-accent);
        width: 8px;
        margin-left: 0px;
      }
    }
  }
}
.actionButtons-2vEOUh {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.guilds-2JjMmN {
  width: 88px !important;
  justify-content: center;
}
.base-2jDfDU {
  margin: 8px;
  border-radius: calc(var(--chatty-corners) / 1.5);
  background: var(--chatty-bg2);
  padding: 8px;
  overflow: visible !important;
  width: 1px;
  .sidebar-1tnWFu {
    margin-right: 8px;
    background: none;
    .container-1NXEtd {
      border-radius: calc(var(--chatty-corners) / 2);
      background: var(--chatty-bg3);
    }
    .panels-3wFtMD {
      margin-top: 9px;
      border-radius: calc(var(--chatty-corners) / 2) !important;
      overflow: hidden;
      background: var(--chatty-bg3);
      .activityPanel-9icbyU {
        border: none;
        background: none;
      }
      .container-1zzFcN {
        background: none;
        .expandButton-16yJoR {
          background: var(--chatty-bg2);
        }
        .actionButtons-2vEOUh {
          display: grid;
          grid-template-columns: 1fr 1fr;
          button {
            background: var(--chatty-bg2);
            .contents-3NembX {
              color: var(--chatty-icons);
            }
          }
          .buttonActive-Uc1jHx {
            background: var(--chatty-accent);
            .contents-3NembX {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .chat-2ZfjoI {
    background: var(--chatty-bg3);
    border-radius: calc(var(--chatty-corners) / 2);
    .title-31SJ6t {
      background: none;
    }
    .scroller-kQBbkU::-webkit-scrollbar-track {
      background: var(--chatty-bg2) !important;
    }
    .scroller-kQBbkU::-webkit-scrollbar {
      width: 10px !important;
    }
    .scroller-kQBbkU {
      .scrollerInner-2PPAp2 {
        .message-2CShn3 {
          .embedFull-1HGV2S {
            border-radius: var(--chatty-corners) !important;
            background: var(--chatty-bg1);
            border-left: 0px;
            border-bottom: calc(var(--chatty-corners) + 2px) solid #000;
            box-shadow: var(--dark-elevation-high);
          }
          .markup-eYLPri a {
            color: var(--chatty-hyperlink);
          }
        }
      }
    }
    .content-1jQy2l::before {
      display: none;
    }
    .content-1jQy2l {
      background: none;
      .chatContent-3KubbW {
        background: none;
      }
      .container-2o3qEW {
        background: none;
      }
      .members-3WRCEx {
        background: none;
        .member-48YF_l {
          background: var(--chatty-bg2);
          margin: 8px;
          border-radius: calc(var(--chatty-corners) / 2);
        }
      }
    }
    .scrollableContainer-15eg7h {
      background: var(--chatty-bg2);
      .contents-3NembX,
      .attachButtonPlus-3IYelE {
        fill: var(--chatty-icons) !important;
        color: var(--chatty-icons);
      }
      .sprite-2lxwfc {
        filter: sepia(100%) hue-rotate(290deg) brightness(0.85) saturate(2) !important;
      }
      .disabled-3wvGkX {
        color: var(--chatty-disabled);
      }
      .activeButtonChild-2hgLAO {
        color: var(--chatty-icons);
      }
    }
  }
}
.container-YkUktl {
  transition: height 1s;
  display: block !important;
  position: absolute !important;
  bottom: -10px;
  left: -97px;
  border-radius: calc(var(--chatty-corners) / 1.5);
  background: var(--chatty-bg0) !important;
  width: 66px;
  height: auto;
  padding: 8px;
  .avatarWrapper-1B9FTW {
    margin: 0;
    min-width: 0px !important;
    padding: 0;
    display: flex;
    flex-direction: column;
    .wrapper-3Un6-K {
      width: 66px !important;
      height: 66px !important;
      .mask-1y0tyc {
        padding: 8px;
        width: 62px;
        height: 62px;
      }
      .avatarDecoration-2Wb1Au {
        width: 70px;
        height: 70px;
        left: 5;
        top: -2;
      }
    }
    .nameTag-sc-gpq {
      padding: 3px;
      margin: 0;
      max-width: 60px;
      white-space: normal;
      .subtext-2HDqJ7 {
        transition: line-height 1s;
        line-height: 0.01px;
      }
    }
  }
  .directionRow-2Iu2A9 {
    opacity: 1;
    overflow: hidden;
    flex-direction: column;
    button {
      transition: all 0.5s;
      background: var(--chatty-bg1);
      border-radius: calc(var(--chatty-corners) / 2);
      background: var(--chatty-bg2);
      padding: 0px;
      width: 66px;
      margin-top: 0px;
      height: 0px;
      opacity: 0;
    }
  }
}
.container-YkUktl:hover {
  .nameTag-sc-gpq {
    .subtext-2HDqJ7 {
      line-height: 13px;
    }
  }
  .directionRow-2Iu2A9 {
    button {
      height: 10px;
      margin-top: 8px;
      height: 40px;
      opacity: 1;
    }
    overflow: hidden;
    opacity: 1;
  }
}
.sidebar-1tnWFu {
  overflow: visible !important;
}
/*testing
.replugged-addon-cards {
  grid-template-columns: 1fr 1fr;
  .replugged-addon-card {
    height: 140px;
    .flex-2S1XBF {
      display: block;
    }
    .horizontal-112GEH > .flex-2S1XBF:last-child {
      position: relative;
      top: 90px;
      left: -200px;
    }
  }
}*/
// add @ to profile views
.nameTag-35jqbZ::before {
  content: "@";
  color: var(--header-secondary);
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-display);
  margin-right: 1px;
}
// add @ to profile pop up
.userTagWithNickname-13lfvd::before {
  content: "@";
  color: var(--header-primary);
  font-family: var(--font-primary);
  line-height: 18px;
  font-size: 14px;
  margin-right: 1px;
}
